html {
  font-size: 62.5%; }

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 2rem;
  background-image: url(arrow_pointer.png);
  background-position: left;
  background-repeat: no-repeat;
  padding-left: .5rem; }
  .arrow--right {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .arrow--long {
    width: 100%; }
  .arrow--short {
    width: 41px; }
  .arrow__line {
    display: inline-block;
    height: .2rem;
    background-color: #ccac5b;
    width: 100%; }

.link {
  display: inline-block;
  border: 1px #ffffff solid;
  border-radius: 3rem;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;
  letter-spacing: .1rem;
  color: #ffffff;
  cursor: pointer; }
  .link:visited {
    color: #ffffff; }
  .link:hover, .link:active {
    color: #ccac5b;
    -webkit-box-shadow: inset 0 0 10px #ffffff;
            box-shadow: inset 0 0 10px #ffffff; }
  .link--header {
    color: #a7a9ac;
    border: 1px #a7a9ac solid; }
    .link--header:visited {
      color: #a7a9ac; }
    .link--header:hover, .link--header:active {
      color: #ffffff; }
  .link--active {
    color: #ffffff;
    -webkit-box-shadow: inset 0 0 10px #ffffff;
            box-shadow: inset 0 0 10px #ffffff; }

.detailsHeader {
  color: #ccac5b;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  font-family: inherit;
  display: block;
  padding-bottom: 2rem;
  border-bottom: 2px solid #ccac5b;
  margin-bottom: 2rem; }

.exactDetailsWrapper {
  margin-top: 8rem; }

.exactDetails {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 2rem; }
  .exactDetails__itemsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-left: 2px dotted rgba(167, 169, 172, 0.6);
    padding: 0 2.5rem; }

.detailItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  line-height: 2.2rem; }
  .detailItem:not(:last-of-type) {
    margin-bottom: 1rem; }
  .detailItem__property {
    color: #a7a9ac; }
  .detailItem__value {
    padding-left: .5rem; }

.bullet {
  font-size: 1.8rem;
  color: #a7a9ac; }
  .bullet--right {
    margin-left: -3px;
    margin-right: 3rem; }
  .bullet--left {
    margin-right: -4px;
    margin-left: 3rem; }

.detailsContainer {
  padding: 8rem 3rem;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .detailsContainer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .detailsContainer__launchDate {
    color: #a7a9ac;
    font-size: 1.4rem;
    letter-spacing: .9rem;
    text-transform: uppercase;
    font-family: inherit;
    margin-bottom: 2.5rem; }
  .detailsContainer__launchName {
    color: #22272b;
    font-size: 3.6rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: .15rem;
    margin-bottom: 1rem; }
  .detailsContainer__launchLogo {
    max-width: 200px; }
  .detailsContainer__launchDetails {
    color: #22272b;
    font-size: 1.4rem;
    letter-spacing: .9px;
    font-family: inherit;
    line-height: 2rem; }

.rocket {
  margin-top: 8rem; }

.launchesListWrapper {
  padding: 0 3rem 8rem;
  background-color: #0f1112;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.launchesList {
  width: 100%;
  margin-top: 5rem; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8rem;
  background-color: #0f1112;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem; }
  .navbar__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ccac5b;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .9rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .navbar__link:hover, .navbar__link:active, .navbar__link:visited {
      color: #ccac5b;
      cursor: pointer; }
  .navbar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 6rem;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  .navbar__text {
    padding-left: 2rem; }
  .navbar__emptyBox {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.timer {
  height: 5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: #22272b; }

.missionLinks {
  font-family: "Open Sans", sans-serif;
  background-image: url(rocket.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 59rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 6rem; }
  .missionLinks__header {
    margin-bottom: 4rem;
    font-size: 2.4rem;
    letter-spacing: 1.8rem;
    text-transform: uppercase;
    color: #ffffff; }
  .missionLinks__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 57rem;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

.footer {
  height: 10rem;
  background-color: #22272b;
  padding: 0 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Open Sans", sans-serif; }
  .footer__socialContainer {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__rightsContainer {
    width: 50%;
    text-align: end; }
  .footer__text, .footer__link {
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: 300;
    text-transform: uppercase; }
  .footer__text {
    color: #666666; }
  .footer__link {
    color: #a7a9ac;
    text-decoration: none; }
    .footer__link:visited {
      color: #a7a9ac; }
    .footer__link:hover, .footer__link:active {
      color: #ccac5b; }
    .footer__link:first-of-type {
      margin-left: .5rem; }
    .footer__link:not(:first-of-type) {
      margin-left: 2rem; }

.launchesListHeader {
  margin-top: 15rem;
  width: 84rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans", sans-serif; }
  .launchesListHeader__moon {
    display: block;
    width: 100%; }
  .launchesListHeader__logo {
    margin: -7rem 0 2.5rem 8rem;
    display: block;
    width: 55rem; }
  .launchesListHeader__text {
    color: #a7a9ac;
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1.8rem; }

.filterButtons {
  width: 70rem;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Open Sans", sans-serif; }

.filteredLaunchWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px; }

.filteredLaunch {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0; }
  .filteredLaunch:hover {
    cursor: pointer; }
  .filteredLaunch--left {
    border-right: 1px dashed #a7a9ac; }
  .filteredLaunch--right {
    border-left: 1px dashed #a7a9ac;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .filteredLaunch__date {
    color: #ffffff;
    line-height: 2rem;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .9rem; }
    .filteredLaunch__date--right {
      -ms-flex-item-align: end;
          align-self: flex-end; }
  .filteredLaunch__details {
    width: 47rem;
    letter-spacing: .1rem;
    color: #a7a9ac;
    padding-right: 3rem;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 2rem;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 300; }
    .filteredLaunch__details--right {
      -ms-flex-item-align: end;
          align-self: flex-end;
      padding-right: 0;
      padding-left: 3rem; }

.decoratorsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem; }
  .decoratorsContainer--right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.emptyBox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.itemName {
  color: #ffffff; }


/*# sourceMappingURL=main.css.map*/