.arrow
  display: flex
  align-items: center
  position: relative
  height: 2rem

  &__short
    height: .2rem
    width: 41px
    background-color: $desert-color
    margin-right: 2rem

    &--left:before
      content: url("../assets/imgs/arrow_pointer.png")
      position: absolute
      top: .33rem
      left: -.2rem

