.arrow
  display: flex
  align-items: center
  position: relative
  height: 2rem
  background-image: url("../assets/imgs/arrow_pointer.png")
  background-position: left
  background-repeat: no-repeat
  padding-left: .5rem

  &--right
    transform: rotate(180deg)

  &--long
    width: 100%

  &--short
    width: 41px

  &__line
    display: inline-block
    height: .2rem
    background-color: $arrows-color
    width: 100%





