.link
  display: inline-block
  border: 1px $white-color solid
  border-radius: 3rem
  padding: 1rem 3rem
  font-size: 1.4rem
  text-transform: uppercase
  font-family: inherit
  letter-spacing: .1rem
  color: $white-color

  &:visited
    text-decoration: none
    color: $white-color
    border: 1px $white-color solid

  &:hover, &:active
    text-decoration: none
    color: $desert-color
    border: 1px $desert-color solid



