// COLORS
$desert-color: #ccac5b
$almost-black-color: #0f1112
$dark-grey-color: #22272b
$brownish-grey-color: #666666
$cool-grey-color: #a7a9ac
$white-color: #ffffff


// FONTS
$main-font: 'Open Sans', sans-serif

// ARROWS
$arrows-color: $desert-color

// LINKS
$links-color: $white-color
$links-border-color: $white-color
$links-visited-color: $white-color
$links-hover-color: $desert-color

$footer-link-color: $cool-grey-color
$footer-link-visited-color: $cool-grey-color
$footer-link-hover-color: $desert-color

// HEADERS FONT SIZE
$main-launch-header: 3.6rem
$main-details-header: 1.4rem


