.detailsContainer
  margin: 0
  padding: 7.5rem 3rem
  font-family: $main-font

.launchDate
  color: $cool-grey-color
  font-size: 1.4rem
  letter-spacing: .9rem
  text-transform: uppercase
  font-family: inherit
  margin-bottom: 2.5rem

.launchName
  color: $dark-grey-color
  font-size: 3.6rem
  text-transform: uppercase
  font-family: inherit
  font-weight: 600
  letter-spacing: .15rem
  margin-bottom: 1rem


