.navbar
  display: flex
  height: 8rem
  background-color: $almost-black-color
  position: relative
  justify-content: center
  align-items: center


  &__link
    display: flex
    color: $desert-color
    position: absolute
    left: 4rem
    font-weight: 400
    text-transform: uppercase
    font-size: 1.4rem
    font-family: $main-font
    letter-spacing: .9rem
    align-items: center

    &:hover, &:active, &:visited
      text-decoration: none
      color: $desert-color

  &__logo
    display: block
    width: 25rem

